-title "Blood Sugar Sex Magik: Edit Blood Glucose Reading for #{@user.user_name}"

%header#edit_blood_glucose_header
  %h1= "Editing Blood Glucose Reading for #{@user.user_name}"
%section#edit_blood_glucose_area
  = render 'form'
%nav
  = link_to 'All Blood Glucose Readings', glucose_readings_path
  \|
  = link_to 'Account', current_user
