%h1 Listing glucose_readings

%table
  %tr
    %th User
    %th Glucose value
    %th Reading at
    %th Comment
    %th
    %th
    %th

  - @glucose_readings.each do |glucose_reading|
    %tr
      %td= glucose_reading.user_id
      %td= glucose_reading.glucose_value
      %td= glucose_reading.reading_at
      %td= glucose_reading.comment
      %td= link_to 'Show', glucose_reading
      %td= link_to 'Edit', edit_glucose_reading_path(glucose_reading)
      %td= link_to 'Destroy', glucose_reading, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Glucose reading', new_glucose_reading_path
