-title "Blood Sugar Sex Magik: Blood Glucose Readings for #{@user.user_name}"

%header#blood_glucose_index_header
  %h1= "Blood Glucose Readings for #{@user.user_name}"
%section#blood_glucose_index
  %table
    %tr
      %th Reading at
      %th Meal Code
      %th Glucose value
      %th Comment
      %th
      %th
    - @glucose_readings.each do |glucose_reading|
      %tr
        %td= nice_date(glucose_reading.reading_at)
        %td= glucose_reading.meal_code_name
        %td= glucose_reading.glucose_value
        %td= glucose_reading.comment
        %td= link_to 'Edit', edit_glucose_reading_path(glucose_reading)
        %td= link_to 'Delete', glucose_reading, :confirm => 'Are you sure?', :method => :delete
%nav
  = link_to 'New Blood Glucose Reading', new_glucose_reading_path
  \|
  = link_to 'Account', current_user