%h1 Listing users

%table
  %tr
    %th User name
    %th Email
    %th Password digest
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.user_name
      %td= user.email
      %td= user.password_digest
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
