-title "Digital Pancreas: #{@user.user_name}"

%section#account
  %header#account_header
    %h1= @user.proper_name
  %section#account_details
    %table
      %tr
        %th Average Blood Glucose
        %td= number_with_precision(@user.average_glucose_level, precision: 0)
      %tr
        %th Minimum Blood Glucose
        %td= @user.min_glucose_level
      %tr
        %th Maximum Blood Glucose
        %td= @user.max_glucose_level
  %nav#account_navigation
    = link_to 'All Readings', glucose_readings_path
    \|
    = link_to 'Sign Out', sign_out_path
