-title "Digital Pancreas: Support"

%section#support
  %header#support_header
    %h1
      = "Support Digital Pancreas"
    %h2
      = "Pay What You Want"
    %p
      = "If you find Digital Pancreas useful please considering paying what you think this application is worth. Below you will find options for one time payments as well as recurring subscriptions."
  %section#support_options
    .option
      %h3= "$1"
      %p= render 'one_time_1'
      %p= render 'sub_1'
    .option
      %h3= "$5"
      %p= render 'one_time_5'
      %p= render 'sub_5'
    .option
      %h3= "$10"
      %p= render 'one_time_10'
      %p= render 'sub_10'
    

