!!! 5
%html
  %head
    %title= yield(:title) || 'Digital Pancreas'
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = javascript_include_tag 'modernizr-2.0.6'
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
    = yield(:head)
  %body
    #container
      -flash.each do |name, msg|
        = content_tag :div, msg, :class => "#{name}"
      %header#site_header
        = image_tag 'bssm_logo.png', alt: "Blood Drop", title: "Digital Pancreas", id: "logo"
        %h1 Digital Pancreas
      #content
        =yield
      %footer#site_footer
        = link_to 'Home', current_user
        = link_to 'New Entry', new_glucose_reading_path
        = link_to 'History', glucose_readings_path
        = link_to 'Pay', payments_path, class: 'highlight_button'
        = link_to 'Sign Out', sign_out_path
    = javascript_include_tag 'application'
